<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- File target with logs in the root folder -->
		<target name="file" xsi:type="File"
				fileName="$F:/Priyansh_KPD/GITHUB/RKIT-dev-sheet/Dot_Net_Core/Logging/logs/${shortdate}.log"
				layout="${longdate}|${level}|${logger}|${message}${exception:format=tostring}" />
       <target name="file" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate}|${level}|${logger}|${message}${exception:format=tostring}" />

		<!-- Console target -->
		<target name="console" xsi:type="Console"
				layout="${longdate}|${level}|${logger}|${message}${exception:format=tostring}" />
	</targets>

	<rules>
		<!-- Write all log levels to the file -->
		<logger name="*" minlevel="Trace" writeTo="file" />

		<!-- Write all log levels to the console -->
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>
</nlog>
