<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<targets>
		<!-- Log to File -->
		<target xsi:type="File" name="fileLogger" fileName="logs/api-log.txt"
                layout="${longdate} | ${level} | ${logger} | ${message} ${exception}" />

		<!-- Log to Console -->
		<target xsi:type="Console" name="consoleLogger">
			<layout>
				<text>${longdate} | ${level:uppercase=true} | ${message}</text>
			</layout>
			<loggingConfiguration>
				<level color="green">Info</level>
				<level color="yellow">Warn</level>
				<level color="red">Error</level>
				<level color="blue">Debug</level>
				<level color="magenta">Trace</level>
			</loggingConfiguration>
		</target>

		<!-- Log to MySQL Database -->
		<target xsi:type="Database" name="dbLogger" connectionString="${configsetting:MyDbConnection}">
			<commandText>
				INSERT INTO api_logs (Timestamp, RequestMethod, RequestPath, Route, RequestBody, ResponseStatusCode, ResponseBody, ClientIP)
				VALUES (@Timestamp, @RequestMethod, @RequestPath, @Route, @RequestBody, @ResponseStatusCode, @ResponseBody, @ClientIP)
			</commandText>

			<parameter name="@Timestamp" layout="${date}" />
			<parameter name="@RequestMethod" layout="${aspnet-request:method}" />
			<parameter name="@RequestPath" layout="${aspnet-request:rawurl}" />
			<parameter name="@Route" layout="${aspnet-request:route}" />
			<parameter name="@RequestBody" layout="${event-properties:item=RequestBody}" />
			<parameter name="@ResponseStatusCode" layout="${event-properties:item=ResponseStatusCode}" />
			<parameter name="@ResponseBody" layout="${event-properties:item=ResponseBody}" />
			<parameter name="@ClientIP" layout="${aspnet-request:serverVariable=REMOTE_ADDR}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="fileLogger,consoleLogger,dbLogger" />
	</rules>

</nlog>
